POSTGRES_DB= # pragma: allowlist secret
POSTGRES_USER= # pragma: allowlist secret
POSTGRES_PASSWORD= # pragma: allowlist secret
POSTGRES_HOST=postgres # pragma: allowlist secret
POSTGRES_PORT=5432 # pragma: allowlist secret
