DJANGO_ENV='dev'
DJANGO_DEFAULT_ID="django.db.models.BigAutoField"
DJANGO_SECRETE_KEY=""

# Razorpay Creds
RAZORPAY_API_KEY=""
RAZORPAY_API_SECRETE=""

# Gmail Creds
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

# .env
LOG_DIR_PATH='backend/logs'
FILTER_SENSITIVE_DATA=False
FILTER_HEALTH_CHECK_LOGS=False
